@model LocalGroup

    <p>@Model.Id</p>
    <p>@Model.GroupName</p>
    <p>@Model.Address</p>
    <p>@Model.City</p>
    <p>@Model.County</p>
    <p>@Model.Postcode</p>
<p>
    @if (!Model.Active)
    {
        <span class="bg-danger p-1">Not active</span>
    }
    else
    {
        <span class="bg-success p-1">Active</span>
    }
</p>
<div>
    <a class="btn btn-primary mx-2" asp-route-id="@Model.Id" asp-area="CentralOrganisation" asp-controller="Localgroup" asp-action="Edit" >Rediger</a>
    <a href="" class="btn btn-dark mx-2">Slett</a>

</div>