@using Gruppeportalen.Areas.PrivateUser.Models.MembershipsAndPayment
@using Microsoft.IdentityModel.Tokens
@model Person 
<link rel="stylesheet" href="~/css/informationcard.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="card">
    <div class="card-header">
        <h3>@Model.Firstname @Model.Lastname </h3>
    </div>
    <div class="card-details">
        <input type="hidden" asp-for="Id" />
        <p><strong>Fødselsdato:</strong> @Model.DateOfBirth.ToString("dd/MM/yyyy")</p>
        <p><strong>Adresse:</strong> @Model.Address</p>
        <p><strong>Postnummer:</strong> @Model.Postcode</p>
        <p><strong>Sted:</strong> @Model.City</p>
    </div>

    
    
    @if (!Model.Memberships.IsNullOrEmpty())
    {
        var active = false;
        var activeMemberships = new List<Membership>();
        foreach (var membership in Model.Memberships)
        {
            if (membership.IsActive)
            {
                active = true;
                activeMemberships.Add(membership);
            }
        }
        if (active)
        {
            <div class="person-memberships">
                <h4>Medlem i</h4>
                <div class="card-details">
                    @foreach (var m in activeMemberships)
                    {
                        <p>
                            <strong>@m.MembershipType.MembershipName</strong> 
                            <span>@m.LocalGroup.GroupName</span>
                            <button class="btn btn-outline-dark">Test</button>
                        </p>
                    }
                </div>
            </div>
        }
    }

    <div class="card-actions">
        <form asp-action="Edit" method="get">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-warning">Rediger</button>
        </form>
        
        <!-- Del-knapp med data-person-id -->
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#shareModal" data-person-id="@Model.Id">Del</button>
        
        @if (!Model.PrimaryPerson) {
        
            <!-- Overfør-knappen med data-person-id -->
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#transferModal" data-person-id="@Model.Id">Overfør</button>

            <!-- Slett-knappen -->
            <button type="button" class="delete-btn" data-bs-toggle="modal" data-person-id ="@Model.Id" data-bs-target="#deleteModal">Fjern</button>
        }
    </div>
</div>

<!-- Modal for å fjerne personen -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="deleteModalLabel">Fjern person</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* <h3></h3> *@
                <p>Personen kan også være tilknyttet andre brukere. Ved å fjerne personen her, vil ikke de andre brukerne miste tilgangen til personen.</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="personId" id="deletePersonId" value="" />
                    <button type="submit" class="custom-orange-btn">Ok</button>
                </form>
                <button type="button" class="custom-blue-btn" data-bs-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div> 
</div>

<!-- Modal for å dele personen -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="shareModalLabel">Del personen med en annen bruker</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="sharing-info">Når du deler personen med en annen bruker, får vedkommende også muligheten til å registrere personen på ulike lag og betale medlemskontingenten.</p>
                
                <form asp-action="SharePerson" id="sharePersonForm" method="post">
                    <!-- Dynamisk oppdatert skjult felt for personId -->
                    <input type="hidden" id="sharePersonId" name="personId" value=""/>
                    <div class="mb-3">
                        <label for="desiredEmail" class="form-label">E-postadresse</label>
                        <input type="email" class="form-control" id="desiredEmail" name="desiredEmail" placeholder="E-post til bruker å dele med" required/>
                    </div>
                    <p id="update-info"></p>
                    <div class="modal-footer">
                        <button type="button" id ="shareCancelButton" class="custom-blue-btn" data-bs-dismiss="modal">Avbryt</button>
                        <button type="submit" id ="shareButton" class="custom-orange-btn">Del</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for å overføre personen -->
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferModalLabel">Overfør personen til en annen bruker</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ved å overføre personen til en annen bruker, vil du miste tilgangen til vedkommende.</p>
                <form asp-action="TransferPerson" id ="transferPersonForm" method="post">
                    <!-- Dynamisk oppdatert skjult felt for personId -->
                    <input type="hidden" id="transferPersonId" name="personId" value="" />
                    <div class="mb-3">
                        <label for="transferEmail" class="form-label">E-postadresse til ny eier</label>
                        <input type="email" class="form-control" id="transferEmail" name="desiredEmail" placeholder="E-post til ny eier" required />
                    </div>
                    <p id="update-info-transfer"></p>
                    <div class="modal-footer">
                        <button type="button" id ="transferCancelButton" class="custom-blue-btn" data-bs-dismiss="modal">Avbryt</button>
                        <button type="submit" id ="transferButton" class="custom-orange-btn">Overfør</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/PersonScripts/deletingPerson.js"></script>
<script src="/js/PersonScripts/sharingPerson.js"></script>
<script src="/js/PersonScripts/transferringPerson.js"></script>