@using Gruppeportalen.Areas.PrivateUser.Models.MembershipsAndPayment
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.IdentityModel.Tokens
@model LocalGroup

@{
ViewBag.Title = "Lokallaginformasjon";
Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/togglebutton.css" />
<link rel="stylesheet" href="~/css/membership/membership-types.css" />

<div class="main-container">
    
    <div class="sidebar">
        @Html.Partial("_PrivateUserSidebar")
    </div>
    <div>
        <h2 class="centered-title">@Model.GroupName</h2>
        <a class="custom-save-button" asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="AdminGroupOverview"
           asp-route-groupId="@Model.Id">Hjem</a>
        <a class="custom-save-button" asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="AdminGroupInformation"
           asp-route-groupId="@Model.Id">Lokallaginfo</a>
    </div>
    <div>
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id"/>

            <div>
                <label asp-for="Active"></label>
                <label class="toggle">
                    <input type="checkbox" asp-for="Active"/>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="form-group">
                <label asp-for="GroupName">Lokallag</label>
                <input asp-for="GroupName" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="Address">Adresse</label>
                <input asp-for="Address" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="Postcode">Postkode</label>
                <input asp-for="Postcode" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="City">By</label>
                <input asp-for="City" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="County">Fylke</label>
                <select asp-for="County" id="countyDropdown" class="form-control">
                    <option value="Alle fylker">Alle fylker</option>
                    @foreach (var county in ViewBag.Counties as List<string>)
                    {
                        <option value="@county">@county</option>
                    }
                </select>
            </div>


            <div class="form-group">
                <label for="Description">Beskrivelse</label>
                <input asp-for="Description" class="form-control"/>
            </div>

            <button type="submit" class="custom-save-changes-button">Lagre endringer</button>
        </form>
        <h3 class= "mt-4">Medlemskapstyper</h3>
        <div class="membership-outer-box mt-4">
            @if (!Model.MembershipTypes.IsNullOrEmpty())
            {
                <table>
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Medlemsskapsnavn</th>
                        <th scope="col">Pris (kr)</th>
                        <th scope="col">Dato for fornyelse</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var membership in Model.MembershipTypes)
                    {
                        <tr>
                            <td>
                                <form asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="DeleteMembershipType" method="post">
                                    <input type="hidden" name="Id" value="@membership.Id" />
                                    <td>
                                        <button type="button" class="btn-close"
                                                data-bs-toggle="modal"
                                                data-bs-target="#sureToDeleteModal"
                                                data-membership-id="@membership.Id"
                                                aria-label="Close">
                                        </button>

                                    </td>

                                </form>
                            </td>
                            <td>@membership.MembershipName</td>
                            <td>@membership.Price</td>
                            <td><span>@membership.DayReset<span>.</span></span><span class="month">@membership.MonthReset</span></td>
                            <td>
                                <button class="btn btn-outline-dark"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editMembershipModal"
                                        data-membership-id="@membership.Id"
                                        data-membership-name="@membership.MembershipName"
                                        data-membership-price="@membership.Price"
                                        data-membership-month="@membership.MonthReset"
                                        data-membership-day="@membership.DayReset"
                                        data-localgroup-id="@Model.Id"> 
                                    Rediger
                                </button>

                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>You have no memberships.</p>
            }
           
            <div>
                <button class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addMembershipModal"
                        data-localgroup-id="@Model.Id"> +</button></div>
        </div>
    </div>
    <partial name="_AddNewMembershipType" model="@new MembershipType { LocalGroupId = Model.Id }"/>
    <partial name="_EditMembershipType" />
    @await Html.PartialAsync("_SureToDeleteMembershipType")



</div>
<script src="~/js/LocalGroupAdminScripts/Memberships/fillEditMembershipType.js"></script>
<script src="/js/LocalGroupAdminScripts/Memberships/changeMonthNumberToWords.js"></script>
<script src="~/js/LocalGroupAdminScripts/Memberships/sureToDeleteMembershipType.js"></script>


