@using Gruppeportalen.Areas.PrivateUser.Models.MembershipsAndPayment
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.IdentityModel.Tokens
@model LocalGroup

@{
ViewBag.Title = "Lokallaginformasjon";
Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/togglebutton.css" />
<link rel="stylesheet" href="~/css/membership/membership-types.css" />

<div class="main-container">
    
    <div class="sidebar">
        @Html.Partial("_PrivateUserSidebar")
    </div>
    <div>
        <h2 class="centered-title">@Model.GroupName</h2>
        <a class="custom-orange-btn" asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="AdminGroupOverview"
           asp-route-groupId="@Model.Id">Hjem</a>
        <a class="custom-orange-btn" asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="AdminGroupInformation"
           asp-route-groupId="@Model.Id">Lokallaginfo</a>
        <a class="custom-orange-btn" asp-area="PrivateUser" asp-controller="MyLocalGroups" asp-action="AdminGroupMembers"
           asp-route-groupId="@Model.Id">Medlemsliste</a>
    </div>
    <div>
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id"/>

            <div>
                <label asp-for="Active"></label>
                <label class="toggle">
                    <input type="checkbox" asp-for="Active" disabled/>
                    <span class="slider"></span>
                </label>
            </div>

            <div class="form-group">
                <label asp-for="GroupName">Lokallag</label>
                <input asp-for="GroupName" class="form-control" disabled/>
            </div>

            <div class="form-group">
                <label for="Address">Adresse</label>
                <input asp-for="Address" class="form-control" disabled/>
            </div>

            <div class="form-group">
                <label for="Postcode">Postkode</label>
                <input asp-for="Postcode" class="form-control" disabled/>
            </div>

            <div class="form-group">
                <label for="City">By</label>
                <input asp-for="City" class="form-control" disabled/>
            </div>

            <div class="form-group">
                <label for="County">Fylke</label>
                <select asp-for="County" id="countyDropdown" class="form-control" disabled>
                    <option value="Alle fylker">Alle fylker</option>
                    @foreach (var county in ViewBag.Counties as List<string>)
                    {
                        <option value="@county">@county</option>
                    }
                </select>
            </div>


            <div class="form-group">
                <label for="Description">Beskrivelse</label>
                <input asp-for="Description" class="form-control" disabled/>
            </div>
        </form>
        <h3 class= "mt-4">Medlemskapstyper</h3>
        <div class="membership-outer-box mt-4">
            @if (!Model.MembershipTypes.IsNullOrEmpty())
            {
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Medlemsskapsnavn</th>
                        <th scope="col">Pris (kr)</th>
                        <th scope="col">Dato for fornyelse</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var membership in Model.MembershipTypes)
                    {
                        <tr>
                            <td>@membership.MembershipName</td>
                            <td>@membership.Price</td>
                            <td><span>@membership.DayReset<span>.</span></span><span class="month">@membership.MonthReset</span></td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>You have no memberships.</p>
            }
            
    </div>
    @await Html.PartialAsync("_SureToDeleteMembershipType")


    </div>
</div>

<script src="/js/LocalGroupAdminScripts/Memberships/changeMonthNumberToWords.js"></script>



